.image{
	position: relative;
	width: 100%;
}

#aliciabigley{
	font-family: helvetica;
	font-weight: lighter;
	font-size: 5vw;
	color: white;
	position: absolute;
	top: 20vw;
	text-align: center;
	width: 100%;
}

#photodesignsf{
	font-family: helvetica;
	font-weight: lighter;
	font-size: 2vw;
	color: white;
	position: absolute;
	top: 30vw;
	left: o;
	width: 100%;
}

.container{
  margin-top: 70px;
}

.textpadding{
	padding-top: 50px;
}

.pushdown{
	padding-top: 40px;
	padding-bottom: 40px;
}
.skillsseperator{
	padding-bottom: 20px;
	border-bottom: 2px solid #3a929c;
}

.footer {
	padding-top: 7px;
	background-color: rgb(200,200,200);
}
table{
	margin-bottom: 30px;

}

.name{
	padding-right: 15px;
}

input, textarea{
border-radius: 5px;
background-color: #b7b8b8;
border-color: none;
}